
body{
    background-color: rgb(102, 102, 102);
}
.allPostIt {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-block: 50px;
}

.postIt {
    border: solid 1px black;
    height: 18em;
    width: 20em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 4px 6px rgb(51, 51, 51);
}
.yellow{
    background-color: rgb(234, 235, 180);
    transform: rotate(353deg);
    transition: transform, 1s;
}
.yellow:hover {
    transform: scale(1.3);
}
.green {
    background-color: rgb(188, 226, 189);
    transform: rotate(3deg);
    transition: transform, 1s;
}
.green:hover{
    transform: skewX(30deg) skewY(5deg) scale(1.6);
}
.glicine{
    background-color: rgb(193, 194, 235);
    transform: rotate(350deg);
}
h2{
    font-weight: bold;
    font-size: xx-large;
}
p{
    font-size: large;
}


@media (min-width: 1200px) {
    .postIt {
        height: 14em;
        width: 17em;
        margin-block: 35px;
    }
    
}